$font-stack: "Roboto", serif;

.card {
	display: flex;
	align-items: space-between;
	flex-direction: column;
	width: 232px;
	height: 261px;
	background: #fff;
	border-radius: 6px;
	.card_title {
        height: calc(100% - 54px);
        width: 100%;
        padding: 16px;
		.card_title_text {
			font-family: $font-stack;
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			letter-spacing: 0.02em;
			color: #000;
		}
		.report_type {
			font-family: $font-stack;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 16px;
			color: #777777;
		}
	}
	.producedDate_container {
		height: 64px;
		width: 100%;
		border-radius: 0px 0px 6px 6px;
		background: #bbb;
		.producedDate_text {
			font-family: $font-stack;
            padding: 12px;
			font-style: normal;
			font-weight: 700;
			font-size: 15px;
			line-height: 16px;
			color: #fff;
		}
	}
}
