@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}
$font-stack: "Roboto", serif;

.upload_layout {
	background: #262626;
	height: 100%;
	width: 100%;
	.upload_container {
		margin: 54px auto;
		width: 756px;
		height: 798px;
		padding: 36px 84px 36px 42px;
		background: #444444;
		border-radius: 5px;
		.upload_title {
			.upload_title_text {
				font-family: $font-stack;
				font-style: normal;
				font-weight: 600;
				font-size: 28px;
				line-height: 34px;
				color: #ffffff;
			}
			.upload_title_para {
				font-family: $font-stack;
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				color: #aaaaaa;
			}
		}
		.date_time {
			@include center;
			justify-content: space-between;
			// margin-top: 16px;
			.date,
			.time {
				@include center;
				align-items: flex-start;
				flex-direction: column;
			}
		}
	}
}

.MuiDropzoneArea-root {
	background: #444444 !important;
	border: dashed #cccccc !important;
}
.MuiInputBase-root {
	width: 100%;
}

.MuiAutocomplete-input {
	font-size: 0.9rem;
	color: #344767;
	opacity: 0.8;
}
.MuiDropzoneArea-textContainer {
	p {
		font-family: $font-stack;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #cccccc;
	}
	.MuiDropzoneArea-icon {
		color: #ccc;
		height: 42px;
		width: 42px;
	}
}

.form_label {
	margin: 16px 0px 6px 0px;
	font-family: $font-stack;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

.MuiList-root {
	background: #888 !important;
}
.MuiMenuItem-root {
	background: #888 !important;
	color: #444 !important;
	font-weight: 700 !important;
}
.Mui-selected {
	background: #777 !important;
}
